/*
 * Styles:
 *
 *  1.  GLOBAL
 *  2.  LAYOUT
 *  3.  NAV
*/

/*
 ****************************
 *  1.  GLOBAL
 *
 ****************************
*/
body {
    background-color: #0F121A;
    color: #ffffff;
}
p {
    word-wrap: break-word;
}
/*
 ***************************
 *  2. LAYOUT
 *
 ***************************
*/
.container {
    max-width: 1024px;
}
.container .wrapper {
    background-color: #262b37;
    border-radius: 8px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    padding: 25px 50px;
}
/*
 ***************************
 *  3. NAV
 *
 ***************************
*/
.navbar-default {
    background-color: #0F121A;
}
.navbar-default .navbar-collapse {
    text-align: center;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #0F121A;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
    background-color: #262B37;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    font-size: x-large;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #262B37;
}
@media (min-width:768px){
    .navbar-nav{
        float:none;
        margin:0;
        display: inline-block;
    }
}