/*
 * Styles:
 *
 *  1.  GLOBAL
 *  2.  LAYOUT
 *  3.  NAV
*/

/*
 ****************************
 *  1.  GLOBAL
 *
 ****************************
*/
body {
    background-color: #0F121A;
}
/*
 ***************************
 *  2. LAYOUT
 *
 ***************************
*/
.container {
    border: 2px white;
}
/*
 ***************************
 *  3. NAV
 *
 ***************************
*/
.navbar-default {
    background-color: #0F121A;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}